# Virtual environment
.venv/

# API keys / secrets
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE
.idea/

# FAISS index / vector store
*.faiss
*.index
*.pkl
!data/bm25_cache.pkl

# OS system files
.DS_Store
Thumbs.db

#data
#data/qdrant_db/
#data/processed/
#data/chat_memory.db*